<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="polygon_selection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_geopolygon"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="polygon_selection_lonpoints">
            <entry key="array-size" type="xint" value="10"/>
            <entry key="0" type="xdouble" value="4.825916290283203"/>
            <entry key="1" type="xdouble" value="4.826602935791016"/>
            <entry key="2" type="xdouble" value="4.8387908935546875"/>
            <entry key="3" type="xdouble" value="4.837932586669922"/>
            <entry key="4" type="xdouble" value="4.838447570800781"/>
            <entry key="5" type="xdouble" value="4.837074279785156"/>
            <entry key="6" type="xdouble" value="4.829692840576172"/>
            <entry key="7" type="xdouble" value="4.832096099853516"/>
            <entry key="8" type="xdouble" value="4.83123779296875"/>
            <entry key="9" type="xdouble" value="4.829349517822266"/>
        </config>
        <config key="polygon_selection_latpoints">
            <entry key="array-size" type="xint" value="10"/>
            <entry key="0" type="xdouble" value="45.76836117827094"/>
            <entry key="1" type="xdouble" value="45.77626373958218"/>
            <entry key="2" type="xdouble" value="45.77554537118828"/>
            <entry key="3" type="xdouble" value="45.768480922402865"/>
            <entry key="4" type="xdouble" value="45.763690956618674"/>
            <entry key="5" type="xdouble" value="45.75806222125841"/>
            <entry key="6" type="xdouble" value="45.75902034397477"/>
            <entry key="7" type="xdouble" value="45.762852670319745"/>
            <entry key="8" type="xdouble" value="45.765726742332504"/>
            <entry key="9" type="xdouble" value="45.76728346951605"/>
        </config>
        <config key="exclude_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="exclude" type="xboolean" value="false"/>
        <config key="lat_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="lat_column" type="xstring" value="lat"/>
        <config key="lon_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="lon_column" type="xstring" value="long"/>
        <config key="tile_source_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="tile_source" type="xstring" value="Wikimedia Map"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.ext.osm.node.rowfilter.GeoRowFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Geo-Coordinate Row Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Open Street Map Views Integration"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.osm"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.0.v202104131351"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Open Street Map Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.osm.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.0.v202104131351"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Geo-Coordinate Row Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 1125, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="13b90de1-e8d2-4b24-a335-ad81437f0a38"/>
    </config>
</config>
